<!-- The app should know:
1) Not to recommend
  a) A drink the user liked
  b) A drink the user disliked
  c) A drink the quiz has already recommended
2) To recommend
  a) A drink that shares at least two ingredients with drinks the user has liked
  b) A drink that shares no more than one ingredient with drinks the user has disliked
  c) A drink with the flavor profile selected by the user -->


<section class="pricing py-5">
  <div class="container">

    <div class="row mt-5 mb-5">
      <!-- Pro Tier -->
      <div class="col-md-8 offset-md-2">
        <!-- <div class="card mb-5">
          <div class="card-body"> -->
            <!-- <h5 class="card-title text-muted text-uppercase text-center">Free</h5> -->
            <div class="inner-card-text">
              <h2 class="text-center text-white">We recommend a
                </h2>
                <h1 class="text-center" style="color:#F4A00F;"><%= @drink.name %></h1>
                <h3 class="text-center text-white">It matches your preferences perfectly!</h3>
            </div>
          <!-- </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
