<!-- The app should know:
1) Not to recommend
  a) A drink the user liked
  b) A drink the user disliked
  c) A drink the quiz has already recommended
2) To recommend
  a) A drink that shares at least two ingredients with drinks the user has liked
  b) A drink that shares no more than one ingredient with drinks the user has disliked
  c) A drink with the flavor profile selected by the user -->


<section class="pricing py-5">
  <div class="container">

    <div class="row mt-5 mb-5">
      <!-- Pro Tier -->
      <div class="col-md-4 offset-md-4">

        <div class="card text-center">
          <h3 class="card-header">We recommend <%= @drink.article %></h3>
          <img class="card-img-top" src="<%= @drink.image %>" alt="<%= @drink.name %>">
          <div class="card-body">
            <h2 class="card-text"><%= @drink.name %></h2>
            <p class="card-text"></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
