<header class="bg-primary text-center py-5">
  <div class="container">
    <div class="row justify-content-around">
      <button type="button" class="col-4 btn btn-outline-light btn-lg">Drinks You Like</button>
      <button type="button" class="col-4 btn btn-outline-light btn-lg">Drinks We've Recommended</button>
    </div>
  </div>
</header>

<section class="bg-light pt-4">
  <div class="container">
    <div class="row">
      <%= render partial: "drinks/drink", collection: @drinks %>
    </div>
  </div>
</section>
