<header class="bg-primary text-center py-5">
  <div class="container">
    <div id="sub-nav-row" class="row justify-content-around">
      <button id="all-drinks" type="button" class="col-3 btn btn-outline-light btn-lg" onclick="getAllDrinks(); return false;">All Drinks</button>
      <button id="liked-drinks" type="button" class="col-3 btn btn-outline-light btn-lg" onclick="getLikedDrinks(); return false;">Drinks You Like</button>
      <button id="recommended_drinks" type="button" class="col-3 btn btn-outline-light btn-lg" onclick="getRecommendedDrinks(); return false;">Drinks We've Recommended</button>
    </div>
  </div>
</header>

<section class="bg-light pt-4">
  <div class="container">
    <div id="drinks-row" class="row">
      <%= render partial: "drinks/drink", collection: @drinks if @drinks %>
    </div>
  </div>
</section>

<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="modal-ingredients">

        </div>

        <div class="modal-preparation">

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function getAllDrinks() {
    $.get("<%= drinks_path %>.json")
      .then(function(resp) {
        document.querySelector('#drinks-row').innerHTML = ""
        resp.forEach(function(drink) {
          let drinksRow = document.querySelector('#drinks-row')
          let drinkCol = `<div class="col-xl-3 col-md-6 mb-4" style="display:flex;justify-content:center;align-items:flex-end;">
            <div class="card border-0 shadow drink-list">
              <a data-drinkId="${drink['id']}" data-toggle="modal" onclick="toggleModal(${drink['id']}); return false;">
                <img src="${drink['image']}" class="card-img-top" alt="${drink['name']}">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">${drink['name']}</h5>
                  <div class="card-text text-black-50">
                    <strong>Ingredients:</strong> ${drink.ingredients.map((x) => x.name).join(", ")}
                  </div>
                </div>
              </a>
            </div>
          </div>`
          drinksRow.innerHTML += drinkCol
        })
      })
  }

  function getLikedDrinks() {
    $.get("<%= liked_drinks_user_path(current_user) %>")
      .then(function(resp) {
        document.querySelector('#drinks-row').innerHTML = ""
        resp.forEach(function(drink) {
          let drinksRow = document.querySelector('#drinks-row')
          let drinkCol = `<div class="col-xl-3 col-md-6 mb-4" style="display:flex;justify-content:center;align-items:flex-end;">
            <div class="card border-0 shadow drink-list">
              <a href="/drinks/${drink['id']}">
                <img src="${drink['image']}" class="card-img-top" alt="${drink['name']}">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">${drink['name']}</h5>
                  <div class="card-text text-black-50">
                    <strong>Ingredients:</strong> ${drink.ingredients.map((x) => x.name).join(", ")}
                  </div>
                </div>
              </a>
            </div>
          </div>`
          drinksRow.innerHTML += drinkCol
        })
      })
  }

  function getRecommendedDrinks() {
    $.get("<%= recommended_drinks_user_path(current_user) %>")
      .then(function(resp) {
        document.querySelector('#drinks-row').innerHTML = ""
        resp.forEach(function(drink) {
          let drinksRow = document.querySelector('#drinks-row')
          let drinkCol = `<div class="col-xl-3 col-md-6 mb-4" style="display:flex;justify-content:center;align-items:flex-end;">
            <div class="card border-0 shadow drink-list">
              <a href="/drinks/${drink['id']}">
                <img src="${drink['image']}" class="card-img-top" alt="${drink['name']}">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">${drink['name']}</h5>
                  <div class="card-text text-black-50">
                    <strong>Ingredients:</strong> ${drink.ingredients.map((x) => x.name).join(", ")}
                  </div>
                </div>
              </a>
            </div>
          </div>`
          drinksRow.innerHTML += drinkCol
        })
      })
  }

  $(document).ready(function() {
    $('.show-drink-modal').on('click', function (event) {
      event.preventDefault();
      let drinkId = this.dataset.id // Button that triggered the modal
      let modal = $(this)

      $.get("/drinks/" + drinkId + ".json")
        .then(function(resp) {
          console.log(resp)
          $('.modal-title').text(resp.name)
          $('.modal-ingredients').html(`<p><strong>Ingredients</strong></p><p><ul>
            ${resp.ingredients.map((i, index) => "<li>" + resp.measures[index].size + " " + resp.measures[index].measurement_type + " " + i.name + "</li>").join('')}
          </ul></p>`)
          $('.modal-preparation').html(`<p><strong>Preparation</strong></p><p>${resp.preparation}</p>`)
          $('#showModal').modal()
        })
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

      // modal.find('.modal-body input').val(recipient)
    })

    $('#sub-nav-row button').on('click', function() {
      $('#sub-nav-row button').not(this).removeClass('active');
      if (!$(this).hasClass('active')) {
        $(this).addClass('active');
      }
    });
  })
</script>
