<section class="pricing py-5">

  <div class="container">

    <div class="row mt-5 mb-2">
      <div class="col-md-6">
        <a href="<%= drinks_path %>">
        <div class="card mb-5">
          <div class="card-body">
            <div class="inner-card-text">
              <h3 class="text-center">All Drinks</h3>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-md-6 offset-md-3">
        <a href="<%= liked_drinks_user_path(current_user) %>">
        <div class="card mb-5">
          <div class="card-body">
            <div class="inner-card-text">
              <h3 class="text-center">Drinks You Like</h3>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-md-6 offset-md-6">
        <a href="<%= recommended_drinks_user_path(current_user) %>">
        <div class="card mb-5">
          <div class="card-body">
            <div class="inner-card-text">
              <h3 class="text-center">Drinks We've Recommended</h3>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-md-4 offset-md-4">
        <a href="<%= quizzes_question_one_path %>">
        <div class="card mb-5 bg-dark">
          <div class="card-body">
            <div class="inner-card-text">
              <h3 class="text-center text-white">Or Take Our Quiz Again!</h3>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>


  </div>
</section>
